@font-face {
    font-family: "syongsyong";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/syongsyong/syongsyong.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/syongsyong/syongsyong.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/syongsyong/syongsyong.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/syongsyong/syongsyong.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/syongsyong/syongsyong.ttf") format("truetype");
    font-display: swap;
} 
.syongsyong {
    font-family: "syongsyong";
}